.carouselSection {
    position: relative;
    margin-bottom: 50px;
    & > .contentWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    .carouselTitle {
        font-size: 40px;
        color: rgb(246, 164, 164);
        font-weight: bolder;
    }
}
