@import "../../mixins.scss";
.searchResultsPage {
    min-height: 700px;
    padding-top: 90px;
    .resultNotFound {
        font-size: 24px;
        color: var(--black-light);
    }
    .pageTitle {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 34px;
        line-height: 34px;
        background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 255, 0), rgb(0, 0, 255));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        margin-bottom: 65px;
        margin-left: 422px;
    }
    
    .content {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
        margin-bottom: 50px;
        @include md {
            gap: 20px;
        }
        .movieCard {
            .posterBlock {
                margin-bottom: 20px;
            }
        }
    }
}
